/**
 * 努力努力再努力！！！！！
 * Author：smalls
 * Github：https://github.com/smalls0098
 * Email：smalls0098@gmail.com
 * Date：2020/7/24 - 16:26
**/

body {
    background: #f1f2f9;
}

.login h1 {
    display: none;
}

#login {
    background-color: #fff;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 10px 30px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    padding: 50px 50px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 0 46px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border: none;
    box-shadow: none;
}

.login label {
    color: #8898aa;
    margin-bottom: 10px;
    margin-left: 2px;
    font-size: 16px;
    cursor: auto;
}

.user-pass-wrap {
    margin-top: 10px;
}

.login .button.wp-hide-pw {
    color: #57a3f3;
    border: none;
}

input[type=checkbox]:before {
    content: '' !important;
    position: absolute;
    display: block !important;
    width: 20px !important;
    height: 20px !important;
    color: #fff;
    box-shadow: none;
    border-radius: .2rem;
    border: 1px solid #cad1d7;
    transition: all .3s ease;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

input[type=checkbox] {
    position: relative;
    border: transparent !important;
    background: transparent !important;
    color: transparent !important;
    box-shadow: none !important;
}

input[type=checkbox]:checked:before {
    color: #fff;
    border-color: #70b0f5;
    background-color: #57a3f3;
}

input[type=checkbox]:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background: no-repeat 50%/50% 50%;
}

input[type=checkbox]:checked:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
}

.button-primary {
    background-color: #57a3f3 !important;
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
    position: relative;
    will-change: transform;
    letter-spacing: .025em;
    font-size: 16px !important;
    padding: 3px 20px !important;
    transition: box-shadow .3s ease;
    border: none !important;
}

.button-primary:active {
    background-color: #3595ff !important;
    box-shadow: none !important;
}

p.submit, p.forgetmenot {
    display: block;
    margin-top: 25px !important;
}

.login #backtoblog a, .login #nav a {
    font-size: 15px;
    letter-spacing: 1px !important;
    box-shadow: none;
}

.login #nav {
    margin-top: 35px;
    color: #fff;
}

.login #backtoblog, .login #nav {
    font-size: 13px;
    padding: 0 !important;
}

.login #login_error, .login .message, .login .success {
    border-left: none;
    border-radius: .5rem;
    box-shadow: none;
    padding: 16px 20px;
    color: #333;
    font-weight: bold;
}

.login .message {
    background: rgba(255, 200, 0, .8);
}

.login .success {
    background: #00a0d2;
    color: #fff;
}


.login #nav {
    color: #fff;
}

.login #nav {
    margin: 0 !important;
}

@media screen and (max-width: 375px) {

    input[type=checkbox]:before {
        width: 16px !important;
        height: 16px !important;
    }

    input[type=checkbox], input[type=radio] {
        height: 1rem;
        width: 1rem;
    }

    input[type=checkbox]:after {
        width: 16px;
        height: 16px;
    }

    #login {
        width: 260px;
        padding: 30px 30px;
        margin-top: 50px;
    }

    .login #login_error, .login .message, .login .success {
        border-radius: .5rem;
        font-weight: normal;
        padding: 13px 20px;
    }

    .login form {
        margin-left: 0 !important;
    }

    .login label {
        margin-bottom: 10px;
        margin-left: 2px;
        font-size: 14px;
    }

    .login form .input, .login input[type=password], .login input[type=text] {
        font-size: 18px;
        border-width: .0625rem;
        padding: .1675rem .3025rem !important;
        margin: 0 6px 16px 0;
    }

    p.submit, p.forgetmenot {
        margin-top: 15px !important;
    }

    .button-primary {
        font-size: 15px !important;
        padding: 1px 15px !important;
    }

    .login #backtoblog a, .login #nav a {
        font-size: 13px;
    }

    #backtoblog {
        margin: 16px 0 0 0 !important;
    }
}

@media screen and (max-width: 320px) {
    #login {
        width: 200px;
        padding: 30px 30px;
        margin-top: 30px;
    }

    .login form {
        margin-top: 0;
        margin-left: 0 !important;
        padding: 10px 0 20px;
    }

    input[type=checkbox]:before {
        width: 15px !important;
        height: 15px !important;
    }

    input[type=checkbox], input[type=radio] {
        height: 1rem;
        width: 1rem;
    }

    input[type=checkbox]:after {
        width: 15px;
        height: 15px;
    }


    .login #login_error, .login .message, .login .success {
        border-radius: .5rem;
        font-weight: normal;
        padding: 13px 20px;
    }


    .login label {
        margin-bottom: 10px;
        margin-left: 2px;
        font-size: 13px;
    }

    .login form .input, .login input[type=password], .login input[type=text] {
        font-size: 16px;
        border-width: .0625rem;
        padding: .1675rem .3025rem !important;
        margin: 0 6px 16px 0;
    }

    p.submit, p.forgetmenot {
        margin-top: 15px !important;
    }

    .button-primary {
        font-size: 15px !important;
        padding: 1px 10px !important;
    }

    .login #backtoblog a, .login #nav a {
        font-size: 13px;
    }

    #backtoblog {
        margin: 16px 0 0 0 !important;
    }
}